<?php
/**
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                                                                           *
 *                                                                           *
 *                                                                           *
 *                        aaaAAaaa            HHHHHH                         *
 *                     aaAAAAAAAAAAaa         HHHHHH                         *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                         *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                         *
 *                   aAAAAAa    aAAAAAA                                      *
 *                   AAAAAa      AAAAAA                                      *
 *                   AAAAAa      AAAAAA                                      *
 *                   aAAAAAa     AAAAAA                                      *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                         *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                         *
 *                      aAAAAAAAAAAAAAA       HHHHHH                         *
 *                         aaAAAAAAAAAA       HHHHHH                         *
 *                                                                           *
 *                                                                           *
 *                                                                           *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t     *
 *                                                                           *
 *                                                                           *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION     *
 *                                                                           *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2013 Artevelde University College Ghent
 */

require_once appPath() . 'authentication.php';
require_once appPath() . 'utilities.php';

?><footer id="footer">
<?php if (isAuthenticated() && ( !isset($_GET['page']) || ( isset($_GET['page']) && $_GET['page'] != 'admin' ) ) ): ?>
    <nav class="navbar navbar-inverse">
        <a href="?page=admin" class="navbar-btn btn" title="Beheer"><i class="glyphicon glyphicon-wrench"></i> Beheer</a>
    </nav>
<?php endif ?>
    <p><?=copyDate() ?> <a href="http://artezon.be">Artezon.be</a>, a company of <a href="http://www.arteveldehogeschool.be">Artevelde University College Ghent</a>
        <a href="https://www.facebook.com/BachelorGrafischeEnDigitaleMedia"><i class="fa fa-facebook-square"></i></a> <a href="https://twitter.com/BachelorGDM"><i class="fa fa-twitter-square"></i></a></p>
</footer>
<!-- SCRIPTS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/<?=$config['library']['jQuery'] ?>/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/<?=$config['library']['Bootstrap'] ?>/js/bootstrap.min.js"></script>
