<?php
/**
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                                                                           *
 *                                                                           *
 *                                                                           *
 *                        aaaAAaaa            HHHHHH                         *
 *                     aaAAAAAAAAAAaa         HHHHHH                         *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                         *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                         *
 *                   aAAAAAa    aAAAAAA                                      *
 *                   AAAAAa      AAAAAA                                      *
 *                   AAAAAa      AAAAAA                                      *
 *                   aAAAAAa     AAAAAA                                      *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                         *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                         *
 *                      aAAAAAAAAAAAAAA       HHHHHH                         *
 *                         aaAAAAAAAAAA       HHHHHH                         *
 *                                                                           *
 *                                                                           *
 *                                                                           *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t     *
 *                                                                           *
 *                                                                           *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION     *
 *                                                                           *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2013 Artevelde University College Ghent
 */

require_once appPath() . 'authentication.php';

require_once appPath() . 'navigation.php';
$menu = readMenuJson();
//$menu = readMenuXml();

$productsShoppingCart = [];
$productsSorted = [];
$sqlInClause = [];
$totalAmount = 0;

//var_dump($_COOKIE);
if (isset($_COOKIE) && isset($_COOKIE['shoppingcart'])) {
    foreach ($_COOKIE['shoppingcart'] as $productCode => $productAmount) {
        $productsShoppingCart[$productCode] = (int) $productAmount;
        $sqlInClause[] = '?';
        $totalAmount += $productAmount;
    }


    $sqlInClause = implode(',', $sqlInClause);
//    var_dump($sqlInClause);

    try {
        $sql_products
            = 'SELECT '
            .     '`product_code` AS `code`, '
            .     '`product_name` AS `name` '
            . 'FROM `products` '
            . 'WHERE '
            .     "`product_code` IN ({$sqlInClause}) "
            . 'ORDER BY '
            .     '`product_name` ASC'
        ;
//    var_dump($sql_products); exit;

        require_once appPath() . 'database.php';
        $db = getDbConnection(); // Databaseconnectie openen.

        $stmt_products = $db->prepare($sql_products);
        if ($stmt_products) {
            $bind2Position = 1;
            foreach ($productsShoppingCart as $productCode => $productName) {
                $stmt_products->bindValue($bind2Position++, $productCode);
            }
            if ($stmt_products->execute()) {
                while ($row_products = $stmt_products->fetch()) {
                    $productsSorted[$row_products['code']] = [
                        'name'   => $row_products['name'],
                        'amount' => $productsShoppingCart[$row_products['code']],
                    ];
                }
            }
        }

        $db = null; // Databaseconnectie sluiten.
    } catch (PDOException $e) {
        $db = null; // Databaseconnectie sluiten.
        var_dump($e);
        exit;
    }
}

?><nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-artezon">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="?page=home" title="Start">Artezon.be</a>
    </div>
    <div id="navbar-artezon" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
<?php foreach ($menu as $key => $menuItem): ?>
<?php $menuItemActive = (isset($_GET['page']) && $_GET['page'] === $menuItem->page && isset($_GET['category']) && $_GET['category'] === $menuItem->category) ? ' class="active"' : '' ?>
            <li<?=$menuItemActive ?>><a href="index.php?page=<?=$menuItem->page ?>&category=<?=$menuItem->category ?>"><?=$menuItem->label ?></a></li>
<?php endforeach ?>
        </ul>
        <ul id="shoppingcart" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Winkelkarretje"><i class="glyphicon glyphicon-shopping-cart"></i> <span class="badge"><?=$totalAmount ?></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
<?php if ($totalAmount): ?>
<?php if (isAuthenticated()): ?>
                    <li><a href="index.php?page=order_review">Bestelling bekijken</a></li>
<?php else: ?>
                    <li><a href="index.php?page=login">Eerst aanmelden</a></li>
<?php endif ?>
                    <li class="divider"></li>
                    <li class="dropdown-header">Producten</li>
<?php foreach ($productsSorted as $productCode => $productDetails): ?>
                    <li><a href="?page=api&origin=<?=isset($_GET['page']) ? $_GET['page'] : 'home' ?>&action=remove&product=<?=$productCode ?>"><span class="badge"><?=$productDetails['amount'] ?></span><i class="pull-right glyphicon glyphicon-remove"></i> <?=$productDetails['name'] ?></a></li>
<?php endforeach ?>
<?php else: ?>
                    <li><a>Winkelkarretje</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Geen producten</li>
<?php endif ?>
                </ul>
            </li>
<?php if (isAuthenticated()): ?>
            <li><a href="?page=profile" class="navbar-link"><i class="glyphicon glyphicon-user"></i> Profiel</a></li>
            <li><span><a href="?page=logout" class="navbar-btn btn btn-primary"><i class="glyphicon glyphicon-log-out"></i> Afmelden</a></span></li>
<?php else: ?>
            <li><a href="?page=register" class="navbar-link"><i class="glyphicon glyphicon-user"></i> Registreren</a></li>
            <li><span><a href="?page=login" class="navbar-btn btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Aanmelden</a></span></li>
<?php endif ?>
        </ul>
        <form action="<?=$_SERVER['REQUEST_URI'] ?>" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="hidden" name="page" value="products">
                    <input type="search" name="search" class="form-control" placeholder="Zoek producten&hellip;" value="<?=isset($_GET['search']) ? $_GET['search'] : '' ?>">
                </div>
                <button type="submit" class="btn btn-success" title="Zoek"><i class="glyphicon glyphicon-search"></i> Zoek</button>
        </form>
    </div>
</nav>
